<div style="height: 100vh;">
    <mat-toolbar style="background: whitesmoke">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon matTooltip="main-menu">menu</mat-icon>
            </button>
            <div class="icon">
                <img src="../../../assets/icons8-google-keep-48.png">
            </div>
            <div class="appname"> 
              <h3 class="name" >{{message}}</h3>
            </div>
            <div fxLayoutAlign="center center" fxFlex="60" fxShow.sm fxShow fxHide.xs>
                <mat-card class="searchbar">
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput type="text" placeholder="Search" style="width: 95%; border:none">
                </mat-card>
            </div>  

            <!-- <div fxLayoutAlign="center center" fxFlex="60" fxShow.sm fxShow fxHide.xs>
                        <div  fxFlex.xs="40" fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80"  >
                            <mat-icon ngStyle.xl="font-size:50px">search</mat-icon>
                            <input type="text" placeholder="search" (click)="search()">
                        </div>

                    </div> -->
            <!-- <input matInput class="searchbar" type="search" placeholder="Search" aria-label="Search"> -->

            <div div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-icon-button (click)="refresh()">
                    <mat-icon style="font-size: 180%" matTooltip="refresh">refresh</mat-icon>
                </button>
                <button mat-icon-button class="iconButton" *ngIf="list" (click)="view()" fxShow="true"
                    fxHide.1t-sm="true">
                    <mat-icon style="font-size: 170%" matTooltip="view">view_agenda</mat-icon>
                </button>
                <button mat-icon-button class="iconButton" *ngIf="gird" (click)="view()" fxShow="true"
                    fxHide.1t-sm="true">
                    <!-- <img  class="image" src="../../../assets/girdview.png"> -->
                    <mat-icon style="font-size: 180%" matTooltip="view">view_module</mat-icon>
                </button>
                <!-- <button mat-icon-button (click)="setting()">
                            <mat-icon style="font-size: 180%" matTooltip="settings">settings</mat-icon>
                        </button>
                       
                        <button mat-icon-button (click)="account()">
                            <mat-icon style="font-size: 260%" matTooltip="account_circle">account_circle</mat-icon>
                        </button>  -->

                <button mat-icon-button (click)="menu()">
                    <mat-icon style="font-size: 200%" matTooltip="apps">apps</mat-icon>
                </button>
                <a href="settings" mat-button>
                    <mat-icon style="font-size: 180%" matTooltip="settings">settings</mat-icon>
                </a>
                <!-- <a mat-icon-button="signout">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src={{profile?.url}} style="border-radius: 50%; width:38px; height:38px"
                            alt="profile picture">
                    </div>
                </a> -->

                
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="font-size: 180%" matTooltip="menu">account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!-- <mat-card> -->
                     <!-- <button mat-menu-item (click)="signout()">Signout</button>
                    <button mat-menu-item >Add account</button> -->
                    <!-- <mat-card-actions> -->
                      
                            <button mat-button>Add account</button>
                                 <button (click)="signout()" mat-button  >Signout</button>
                          <!-- </mat-card-actions>
                    </mat-card> -->
                </mat-menu>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <mat-menu #signout="matMenu">
        <div>
            <mat-card fxLayoutAlign="space-between center">
                <img src={{profilepic?.url}} style="border-radius: 50%;width: 75px;
                              height: 70px;" alt="profile picture" (click)="profileselect()">
                <div>
                    <p style="margin: 0;"><b>{{userdata?.name}}</b></p>
                    <p style="margin: 0;">{{userdata?.emailid}}</p>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button (click)="onsignout()"><b>Signout</b></button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-menu> -->
    <!-- < =============================== Mat-tollbar ended =========================================== > -->
    <div class="sidenavmain">
        <mat-sidenav-container style="height:-webkit-fill-available;width:100%;">
            <mat-sidenav class="sidenav" #sidenav mode='side' role="navigation">
                <mat-nav-list>
                    <button mat-raised-button role="listitem" (click)="notes()">
                        <mat-icon class="icons">lightbulb_outline</mat-icon>
                        <span class="notes">Notes</span>
                    </button>
                    <button mat-raised-button role="listitem" (click)="reminders()">
                        <mat-icon class="icons">notifications_none</mat-icon>
                        <span class="notes"> Reminders</span>
                    </button>
                    <hr>

                    <p class="label"> LABELS</p>
                    <button mat-raised-button role="listitem" (click)="editLabels()" class="radius">
                        <mat-icon class="icons">edit</mat-icon>
                        <span class="notes">Edit labels</span>
                    </button>
                    <hr>
                    <button mat-raised-button role="listitem" (click)="archive()">
                        <mat-icon class="icons">archive</mat-icon>
                        <span class="notes"> Archive </span>
                    </button>
                    <button mat-raised-button role="listitem" (click)="trash()">
                        <mat-icon class="icons">delete</mat-icon>
                        <span class="notes"> Trash</span>
                    </button>


                    <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
                    <!-- <a href="#" mat-list-item>Menu Item 1</a>
                    <a href="#" mat-list-item>Menu Item 2</a> -->
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="sidenavigationbody">
                <div>
                    <p> body </p>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>