.main{
    margin: 0%;
    padding: 2.5%;
}
.style{
    display: flex;
    flex-direction: column;   
  }
  .formContainer
{
    padding-left: 50px;
    padding-right: 50px;
    
}
.navDiv
{  
    padding-top: 30px;
}
