<div class="main">
  <form [formGroup]="resetPasswordForm">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="formContainer" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title fxLayout="column" fxLayoutAlign="center center">
          <h6>Fundo Notes</h6>
        </mat-card-title>
        <mat-card-subtitle fxLayout="column" fxLayoutAlign="center center">
          <h4>Reset Password</h4>
        </mat-card-subtitle>
        <mat-card-content class="" fxLayout="column" fxLayoutAlign="center center">
          <div class="style">
            <mat-form-field appearance="legacy">
              <mat-label>NewPassword</mat-label>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                formControlName="newPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="newPassword.invalid">{{getErrorMessagePassword()}}</mat-error>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>       
          <div fxLayoutGap="80px" class="button">
            <button mat-raised-button color="primary" id="cancel" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" id="reset" (click)="onReset()">Reset</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>