.main{
    margin: 0%;
    padding: 2.5%;
}
.formContainer
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 12%;
    
}
.button
{
  padding-top: 10px;
}
.CardTitle
{
  color: rgb(7, 80, 29);
}
.cardContent
{
  width: 100%;
}

