<div class="main" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="forgotpasswordForm">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="formContainer">
        <mat-card-title class="CardTitle" fxLayout="column" fxLayoutAlign="center center">
          <h6> Fundo Notes </h6>
        </mat-card-title>
        <mat-card-subtitle class="masterCardTitle" fxLayout="column" fxLayoutAlign="center center">
          <h4> Forgot Password</h4>
        </mat-card-subtitle>
        <p fxLayout="column" fxLayoutAlign="center center">
          Enter email to recovery your password 
        </p >
        <mat-card-content class="cardContent" fxLayout="column" fxLayoutAlign="center center">
          <div class="style">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter your email" formControlName="emailId" required>
              <mat-error *ngIf="emailId.invalid">{{getErrorMessageEmail()}}</mat-error>
              <mat-icon matSuffix>mail</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="button" fxLayoutGap="80px">
            <button mat-raised-button color="primary" id="Cancel">Cancel</button>
            <button mat-raised-button color="primary" id="next" (click)="onForgotPassword()"> Next </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>